.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f0b420;
    background-color: #808080;
    padding: 30px;
}
.menu{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333333;
    background-color: #f47920;
    padding: 15px;
    text-align: center;
}
.titulo2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f47920;
    text-align: center;
}
.parrafo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b3b3b3;
}
.tabla{
    width: 100%;
    padding: 20px;
}
.imagen{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333333;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b3b3b3;
    text-align: center;
}
.bibliografia{
    text-align: right;
    color: #333333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parrafo1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b3b3b3;
    text-align: center;
}
.imagen1{
    text-align: right;
}
body{
    background-image: url(fonfo.jpg);
}