.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f0b420;
    background-color: #808080;
    padding: 20px;
    width: 1321px;
    height: 40px;
}
nav{
    background-color: #808080;
    width: 1360px;
    height: 60px;
    position: relative;
    
}
.ul{
    position: relative;
    margin: auto;
    margin-left: 200px;
}
nav ul li {
    list-style-type: none;
    float: left;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    width: 150px;
    
}
.menu2:active{
    text-decoration: none;color: #f47920;
    }
.menu2:hover{
    text-decoration: none;color: #f47920;
}
.menu2:link{
    text-decoration: none;color: #f47920;
}
.menu2:focus{
    text-decoration: none;color: #f47920;
}
.menu2:visited {
    text-decoration: none;color: #f47920;
}

.titulo2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f47920;
    text-align: center;
}
.parrafo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b3b3b3;
}
.tabla{
    width: 100%;
    padding: 20px;
}
.imagen{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333333;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b3b3b3;
    text-align: center;
}
.bibliografia{
    text-align: right;
    color: #333333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parrafo1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b3b3b3;
    text-align: center;
}
.imagen1{
    text-align: right;
}
body{
    background-image: url(fonfo.jpg);
}


